ul {list-style-type: none;}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    height: 50px;
    background: #1abc9c;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;

}

.month ul li {
    display: inline-block;
    width: 32%;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .current {
    text-align: center;
}

/* Previous button inside month header */
.month .prev {
    text-align: center;
    padding-top: 10px;
}

/* Next button */
.month .next {
    
    text-align: center;
    padding-top: 10px;
}

.month .next:hover, .month .prev:hover{
    transform: scale(2.0);
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 0;
    background: #eee;
    margin: 0;
}



.days li {
    list-style-type: none;
    display: inline-block;
    width: 14%;
    height: 80px;
    text-align: center;
    padding-top: 5px;
    font-size:12px;
    color:#777;
}
.actual:hover {
    background: #ddd;
}

/* Highlight the "current" day */
.days li .active {
    
    padding:5px;
    background: #1abc9c;
    color: white !important
}


.header {
    height: 170px;
}

.logout {
    height: 50px;

}

.welcome {
    height: 40px;
}